.about-container {
    width: 100%;
    height: 680px;
    background-image: url("../images/aboutGrid.svg");
    background-size: cover;
    background-position: center;
}

.about-heading-section {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.about-heading {
    font-size: 4rem;
    font-weight: 900;
    line-height: 3rem;
}

.about-subheading {
    font-size: 4.5rem;
    font-weight: 800;
    color: #AD00FF;
    list-style: none;
}

.about-video {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.about-video-section {
    margin-top: -170px;
}

.about-video-div {
    height: 430px;
    width: 55%;
    border-radius: 23.3px;
    /* outline: 1px solid #eee; */
    padding: 20px;
    background: linear-gradient(to bottom, rgb(224, 187, 254), #eee);
    box-shadow: 20px -30px 100px rgb(224, 187, 254),
        -20px -30px 100px rgb(224, 187, 254);
}

.about-video-subdiv {
    height: 100%;
    width: 100%;
    border-radius: 16.3px;
    padding: 16.8px;
    /* background: #fff; */
    background-color: transparent;
}

.about-roadmap {
    height: 100%;
    margin: 5% 0%;
}

.about-roadmap-title {
    font-size: 3rem;
    font-weight: 600;
}

.text-color {
    background: var(--purple-20, linear-gradient(360deg, #AD00FF 11.46%, #E3A7FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.roadmap {
    width: 85%;
    height: 900px;
    display: flex;
}


.roadmap .roadmap-container {
    width: 49.75%;
}

.roadmap-portion {
    height: 225px;
}

.portion-lft1 {
    margin-top: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 12px 23px;
}

.portion-rgt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 23px;
}

.portion3 {
    margin-top: 30px;
}

.portion4 {
    margin-top: 225px;
}

.roadmap-portion-btn {
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
}

.lft-title {
    margin-right: -45px;
}

.lft-ind {
    margin-left: 15px;
}

.rgt-title {
    margin-left: -45px;
}

.rgt-ind {
    margin-right: 15px;
}

.roadmap-portion-title {
    display: flex;
    align-items: center;
}

.roadmap-indicator {
    height: 36px;
    width: 36px;
    background: #AD00FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 10px 5px 10px #9305d5,
        inset -10px -5px 10px #9b04e1;
}

.roadmap-inner-indicator {
    height: 17px;
    width: 17px;
    background: #fff;
    border-radius: 50%;
}

.roadmap-portion-text {
    width: 85%;
}

/* Phone Roadmap */
.phone-roadmap {
    display: none;
}

.phone-roadmap-container {
    width: 100%
}



/* ------------ Carousel Section -------------------*/
.carousel-section {
    /* height: 30vh; */
}

.about-carousel-title {
    font-size: 24px;
    margin: 4% 0% 2%;
}

.about-carousel-section {
    width: 60%;
}

.about-carousel-section-card {
    height: 150px;
    width: 150px;
}
.about-carousel-section-card img {
    height: 100%;
    width: 100%;
}

/* --------------- Core Value Section  ----------------*/

.core-value-title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 117%;
}

.core-value-subtitle {
    background: var(--purple-20, linear-gradient(360deg, #AD00FF 11.46%, #E3A7FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.core-value-row {
    width: 95%;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.core-section-card {
    width: 250px;
    height: 216px;
    border-radius: 24px;
    border: 0.25px solid var(--stroke, #2D2D2D);
    background: rgba(246, 246, 246, 0.50);
}

.corvalue-card-icon{
    height: 60px;
    width: 60px;
}
.corvalue-card-icon img{
    height: 100%;
    width: 100%;
}
.cor-value-card-title{
    font-size: 1.5rem;
}
/* ----------- Stellar Section --------------- */
.stellar-section {
    margin-top: 6%;
    width: 90%;
}

.steller-tittle {
    width: 25%;
    color: #2D2D2D;
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 30px;
}

.steller-subtittel {
    background: var(--purple-20, linear-gradient(360deg, #AD00FF 11.46%, #E3A7FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.steller-gallery {
    width: 70%;
}

.steller-gallery-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-items: center;
}

.stellar-card {
    width: 229px;
    height: 247px;
    border-radius: 24px;
    overflow: hidden;
}
.stellar-card img{
    width: 100%;
    height: 100%;
}

.steller-gallery-content {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 139%;
}

@media screen and (max-width:1500px) {
    .roadmap-portion-text {
        width: 95%;
    }
}

@media screen and (max-width:1300px) {
    .roadmap {
        height: 1000px;
    }

    .roadmap-portion {
        height: 250px;
    }

    .portion-lft1 {
        margin-top: 250px;
    }

    .portion4 {
        margin-top: 210px;
    }

    .roadmap-portion-text {
        width: 100%;
    }
}

@media screen and (max-width:1150px) {
    .about-heading-section {
        width: 65%;
    }

    .about-heading {
        font-size: 3.7rem;
    }

    .steller-gallery {
        width: 80%;
    }
}

@media screen and (max-width:1100px) {
    .roadmap {
        width: 95%;
    }

    .core-value-row {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .about-video-div {
        height: 430px;
        width: 65%;

    }

    .stellar-section {
        width: 100%;
    }

    .steller-gallery-div {
        grid-column-gap: 13px;
    }
}

@media screen and (max-width:1000px) {
    .steller-gallery-div {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .steller-tittle {
        font-size: 4rem;
    }

    .steller-subtittel {
        font-size: 4.5rem;
    }
}


@media screen and (max-width:900px) {
    .about-video-div {
        width: 75%;
    }

    .roadmap {
        width: 100%;
    }

    .core-value-title {
        font-size: 3.5rem;
        line-height: 107%;
    }

    .about-heading {
        font-size: 3.4rem;
    }

    .about-subheading {
        font-size: 2.6rem;
    }
}

@media screen and (max-width:768px) {
    .about-video-div {
        width: 80%;
    }

    .about-roadmap-title {
        font-size: 2.6rem;
    }

    .about-heading-section {
        width: 90%;
    }

    .about-heading {
        font-size: 3.2rem;
    }

    .about-subheading {
        font-size: 2.3rem;
    }

    .roadmap {
        display: none;
    }

    .phone-roadmap {
        width: 93%;
        height: 850px;
        display: flex;
    }

    .roadmap-portion {
        height: 210px;
    }

    .portion-rgt {
        padding: 8px 13px 8px 23px;
    }

    .roadmap-portion-btn {
        padding: 8px 17px;
    }

    .core-section-card {
        width: 300px;
        height: 285px;
    }

    .stellar-section {
        flex-direction: column;
    }

    .steller-tittle {
        width: 100%;
        font-size: 3.5rem;
        text-align: center;
    }

    .steller-subtittel {
        font-size: 4rem;
    }

    .steller-gallery {
        width: 100%;
    }

    .steller-gallery-content {
        padding: 0% 1.5%;
    }
}

@media screen and (max-width:600px) {
    .about-video-div {
        width: 85%;
    }

    .phone-roadmap {
        height: 1000px;
    }

    .roadmap-portion {
        height: 250px;
    }

    .core-value-title {
        font-size: 3.1rem;
        line-height: 97%;
    }

    .core-value-row {
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}

@media screen and (max-width:500px) {
    .about-heading-section {
        width: 100%;
    }

    .about-heading {
        font-size: 3rem;
    }

    .about-subheading {
        font-size: 2rem;
    }

    .steller-gallery-div {
        grid-column-gap: 15px;
    }

    .stellar-card {
        width: 209px;
        height: 227px;
    }
}

@media screen and (max-width:420px) {
    .about-roadmap-title {
        font-size: 2rem;
    }

    .phone-roadmap {
        height: 1200px;
    }

    .roadmap-portion {
        height: 300px;
    }

    .core-value-title {
        font-size: 2.8rem;
        line-height: 85%;
    }

    .steller-gallery-div {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
    }
}

@media screen and (max-width:360px) {
    .phone-roadmap {
        height: 1300px;
    }

    .roadmap-portion {
        height: 320px;
    }

    .core-value-title {
        font-size: 2.3rem;
        line-height: 65%;
    }
}

@media screen and (max-width:300px) {
    .phone-roadmap {
        height: 1480px;
    }

    .roadmap-portion {
        height: 370px;
    }

    .core-section-card {
        width: 100%;
        height: 100%;
    }
}